html, body {
    height: 100%;
    font-family: "Segoe UI",Tahoma,Arial;
}
.swan_header {
    margin: 0px;
    padding: 0px;
    height: 40px;
    top: 0px;
    width: 100%;
    position:fixed;


}

.header_bar{
  background: #074e68;
  width:100%;
  height:50px;
}
.innerh1{
  color: #ffffff;
  font-weight: 400;
  font-family: 'Segoe UI','Ubuntu',Tahoma,sans-serif;
  font-size: 5.5em;
}
#background{
    background-repeat: no-repeat;
    height:600px;
    width: 100%;
    font-family:"Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
}

#background_image {
    height: 800px;
    width: 100%;
}

.containerr{
    padding:0.5rem;
    -moz-font-language-override: normal;
    font-style: normal;
    font-family: 'Segoe UI','Ubuntu',sans-serif,calibri;
    color: #ffffff;
    vertical-align: middle;
    background-color: #202020;
    width:100%;
    min-height:50px;

}

.outline{
  width:100%;
  text-align: center;
  horizontal-align:middle;
}

.dev_base{
    background-color: #202020;
    border-radius: 4%;
    border-style: solid;
    border-color: #adadad;
    border-width: 2px;
}

.dev_base2{
  background: inherit;
  height:300px;
  width:300px;
  border-radius:inherit;
}


.containerr2{
    padding:5px;
    -moz-font-language-override: normal;
    font-style: normal;
    font-family: 'Segoe UI','Ubuntu',sans-serif,calibri;
    color: #ffffff;
    vertical-align: middle;
    background-color: #254d80;
    width:100%;
    min-height: 40px;

}
#search{
    max-width: 300px;
    border-radius: 2%;

}

.main_logo{
    max-width:300px;
}

#Logo_id{
    font-family: inherit;
    font-size: 16px;
}


#Logo_big{
    position: absolute;
    visibility: visible;
    left: 14px;
    top: 150px;
}

#big_logo {
    height: 150px;
    width: 145px;
}

#Login_id {
    font-family: inherit;
    float: right;
    padding-right: 5px;
}

#pfloat {
    width: 100%;
}

.Login_input {
    width: 200px;
    font-size: small;
    color: #787878;
    background-color: inherit;
    border-style: none none outset;
    border-top: 0px none;
    border-right: 0px none;
    border-left: 0px none;
    border-color: #8e8e8e;
    height: 25px;
    padding-left: 2px;
    padding-right: 2px;
}

#login_submit {
    font-family: inherit;
    font-size: small;
    background-color: #8e8e8e;
    border: medium none #8e8e8e;
    color: rgb(227, 227, 227);
    width: 80px;
    height: 26px;
}

#SignUP {
    box-sizing: content-box;
    width: 400px;
    background-color: rgba(41, 18, 18, 0.7);
    float: right;
    color: #919191;
    position: absolute;
    visibility: visible;
    right: 14px;
    top: 150px;
    border-radius: 15px;
    padding: 14px;
}

.sign_up {
    height: 50px;
}

#Signup_Submit {
    height: 60px;
    width: 120px;
    background-color: #8e8e8e;
    color: #DADADA;
    border: #8e8e8e;
    font-size: 15pt;
}

#setting_Submit{
    height: 30px;
    width: 120px;
    background-color: #202020;
    color: #DADADA;
    border: #8e8e8e;
    font-size: 15pt;
}

#Codee {
    color: #ffffff;
    font-size: 35pt;
}
#footer {
    width: 100%;
    font-size: 12px;
    color: #202020;
    height: 10%;
    font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
}
