#content-wrapper{
    display: block;
    width: 90%;
    max-width: 1350px;
    margin: 0px auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/**class is of menu container is given as menu-menu-1-container*/

.site-navigation ul{
    margin: 0px;
    padding: 0px;
}

.site-navigation li.current-menu-parent {
    border-top-left-radius: 20px;
}
.site-navigation li .current-menu-parent, #site-navigation li .sub-menu {
    background: #ff993a none repeat scroll 0% 0%;
}
.site-navigation li .current-menu-parent {
    float: left;
    width: 16.6666%;
    position: relative;
    color: #FFF;
    cursor: default;
}
.site-navigation li {
    list-style: outside none none;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 15px 0px;
}

.site-navigation li .current-menu-parent, #site-navigation li .sub-menu {
    background:  #e18728 none repeat scroll 0% 0%;
}



.site-navigation li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    background: #FFF none repeat scroll 0% 0%;
    opacity: 0;
    transition: opacity 0.7s ease 0s;
    z-index: -2;
}

.site-navigation .sub-menu li {
    width: 100%;
}